Repository easv-d16-JSLM/HGGM: changes, and which Codecov flags are due for each by the changed paths.
All: Views, Controllers

codecov.yml:

flags:
  Views:
    paths:
      - HGGM/Views/
  Controllers:
    paths:
      - HGGM/Controllers/

User with Roles including translate (half finished)
  HGGM/Controllers/UsersController.cs
  HGGM/Resources/Views/Users/Edit.en.resx
  HGGM/Views/Users/Edit.cshtml
Due: Views, Controllers

Rest of roles function done + translation
  HGGM/Controllers/RolesController.cs
  HGGM/Resources/Views/Roles/Create.en.resx
  HGGM/Resources/Views/Roles/Details.en.resx
  HGGM/Resources/Views/Roles/Edit.en.resx
  HGGM/Resources/Views/Roles/Index.en.resx
  HGGM/Views/Roles/Create.cshtml
  HGGM/Views/Roles/Details.cshtml
  HGGM/Views/Roles/Edit.cshtml
  HGGM/Views/Roles/Index.cshtml
Due: Views, Controllers

Translated using Weblate (Czech)
  HGGM/Resources/Views/Roles/Delete.cs.resx
Due: none

Translated using Weblate (Czech)
  HGGM/Resources/Controllers/HomeController.cs.resx
Due: none

Update README.md
  README.md
Due: none

Fixed 1 english translation and 2 views
  HGGM/Resources/Views/Roles/Details.en.resx
  HGGM/Views/Roles/Details.cshtml
  HGGM/Views/Roles/Edit.cshtml
Due: Views

Removed bootstrap code
  HGGM/Areas/Identity/Pages/Account/Register.cshtml
  HGGM/Views/Users/Edit.cshtml
Due: Views

add basic
  HGGM/Models/Events/Event.cs
  HGGM/Models/Events/Slot.cs
Due: none

Add rest
  HGGM/Models/Events/Event.cs
  HGGM/Models/Events/Slot.cs
Due: none

move permission
  HGGM/Services/Authorization/Permission/Permission.cs
  HGGM/Services/Authorization/Permission/PermissionAttribute.cs
  HGGM/Services/Authorization/Permission/PermissionDashboardAuthorizationFilter.cs
  HGGM/Services/Authorization/Permission/PermissionHandler.cs
  HGGM/Services/Authorization/Permission/PermissionPolicyProvider.cs
  HGGM/Services/Authorization/Permission/PermissionRequirement.cs
Due: none

Revert "move permission"
  HGGM/Services/Authorization/Permission.cs
  HGGM/Services/Authorization/PermissionAttribute.cs
  HGGM/Services/Authorization/PermissionDashboardAuthorizationFilter.cs
  HGGM/Services/Authorization/PermissionHandler.cs
  HGGM/Services/Authorization/PermissionPolicyProvider.cs
  HGGM/Services/Authorization/PermissionRequirement.cs
Due: none

move
  HGGM/Models/Identity/Role.cs
  HGGM/Services/Authorization/Permission/Permission.cs
  HGGM/Services/Authorization/Permission/PermissionRequirement.cs
  HGGM/Services/Authorization/PermissionAttribute.cs
  HGGM/Services/Authorization/PermissionDashboardAuthorizationFilter.cs
  HGGM/Services/Authorization/Simple/SimplePermission.cs
  HGGM/Services/Authorization/Simple/SimplePermissionHandler.cs
  HGGM/Services/Authorization/Simple/SimplePermissionPolicyProvider.cs
  HGGM/Services/Authorization/Simple/SimplePermissionRequirement.cs
  HGGM/Startup.cs
Due: none

rename
  HGGM/Models/Identity/IPermission.cs
  HGGM/Models/Identity/Role.cs
  HGGM/Services/Authorization/EditUser/EditUserHandler.cs
  HGGM/Services/Authorization/EditUser/EditUserPermission.cs
  HGGM/Services/Authorization/EditUser/EditUserRequirement.cs
  HGGM/Services/Authorization/PermissionDashboardAuthorizationFilter.cs
  HGGM/Services/Authorization/Simple/SimplePermission.cs
  HGGM/Services/Authorization/Simple/SimplePermissionPolicyProvider.cs
Due: none

finish edituserpermission
  HGGM/Services/Authorization/EditUser/EditUserHandler.cs
  HGGM/Services/Authorization/EditUser/EditUserPermission.cs
  HGGM/Services/GetRolesExtensions.cs
Due: none

Add markdig
  HGGM/Controllers/HomeController.cs
  HGGM/HGGM.csproj
  HGGM/Services/MarkdownService.cs
  HGGM/Startup.cs
  HGGM/Views/Home/Index.cshtml
Due: Views, Controllers

add taghelper
  HGGM/Controllers/HomeController.cs
  HGGM/TagHelpers/MarkdownTagHelper.cs
  HGGM/Views/Home/Index.cshtml
  HGGM/Views/_ViewImports.cshtml
Due: Views, Controllers

show language in debug info
  HGGM/Program.cs
  HGGM/Views/Shared/_Layout.cshtml
Due: Views

better error report in test, fix test
  HGGM.IntegrationTests/StartupTests.cs
  HGGM/Startup.cs
  HGGM/Views/Shared/_Layout.cshtml
Due: Views

User Control - View roles
  HGGM/Controllers/UsersController.cs
  HGGM/ViewModels/UserWithRolesViewModel.cs
  HGGM/Views/Users/Edit.cshtml
Due: Views, Controllers

remove empty lines
  HGGM/TagHelpers/MarkdownTagHelper.cs
Due: none

add sonarqube
  appveyor.yml
Due: none

Update appveyor.yml
  appveyor.yml
Due: none

Started creating test for rolescontroller
  HGGM.IntegrationTests/Areas/Roles/RolesControllerTests.cs
  HGGM/Views/Roles/Create.cshtml
Due: Views

Create role test
  HGGM.IntegrationTests/Areas/Roles/RolesControllerTests.cs
  HGGM.IntegrationTests/Controllers/RolesControllerTests.cs
  HGGM.IntegrationTests/StartupTests.cs
  HGGM/Views/Roles/Create.cshtml
Due: Views

more verbose hangfire test
  HGGM.IntegrationTests/StartupTests.cs
Due: none

Change User Role View
  HGGM/ViewModels/EditUserViewModel.cs
  HGGM/Views/Users/Edit.cshtml
Due: Views

View User Role in index
  HGGM/Views/Users/Index.cshtml
Due: Views

Delete User View
  HGGM/Controllers/UsersController.cs
  HGGM/Resources/Views/Users/Delete.en.resx
  HGGM/Views/Users/Delete.cshtml
Due: Views, Controllers

Fixed Reviews
  HGGM/Controllers/UsersController.cs
  HGGM/Views/Users/Index.cshtml
Due: Views, Controllers

Roles done + removed bootstrap + changed rolescontrollertest
  HGGM.IntegrationTests/Controllers/RolesControllerTests.cs
  HGGM/Controllers/RolesController.cs
  HGGM/Views/Roles/Create.cshtml
  HGGM/Views/Roles/Edit.cshtml
Due: Views, Controllers

Add AuditService
  HGGM.UnitTests/Services/AuditServiceTests.cs
  HGGM/Models/AuditBase.cs
  HGGM/Services/AuditService.cs
Due: none

Login with Steam & External information view
  HGGM/Areas/Identity/Pages/Account/ExternalLogin.cshtml
  HGGM/Areas/Identity/Pages/Account/ExternalLogin.cshtml.cs
Due: none

better error report for hangfire
  HGGM.IntegrationTests/StartupTests.cs
Due: none

Skip old test
  HGGM.IntegrationTests/Controllers/RolesControllerTests.cs
Due: none

Start on tags
  HGGM/Controllers/TagsController.cs
  HGGM/Models/Tag.cs
  HGGM/Views/Tags/Index.cshtml
Due: Views, Controllers

Work on tags
  HGGM/Controllers/TagsController.cs
  HGGM/Models/Identity/User.cs
  HGGM/Models/Tag.cs
  HGGM/Startup.cs
  HGGM/Views/Tags/Create.cshtml
  HGGM/Views/Tags/Index.cshtml
Due: Views, Controllers

Don't crash if role has no permissions
  HGGM/Services/Authorization/Simple/SimplePermissionHandler.cs
  HGGM/Startup.cs
Due: none

Fixed Navigationbar & login model
  HGGM/Areas/Identity/Pages/Account/ExternalLogin.cshtml.cs
  HGGM/Views/Shared/_LoginPartial.cshtml
Due: Views
