Repository easv-d16-JSLM/HGGM: changes, and which Codecov flags are due for each by the changed paths.
All: Views, Controllers

CountryList fixed dublicate code & add avatar to edit
  HGGM/Areas/Identity/Pages/Account/Manage/Profile.cshtml
  HGGM/Areas/Identity/Pages/Account/Manage/Profile.cshtml.cs
  HGGM/Controllers/FilesController.cs
  HGGM/Controllers/UsersController.cs
  HGGM/Resources/Views/Users/Edit.en.resx
  HGGM/Services/CultureService.cs
  HGGM/Views/Users/Edit.cshtml
Due: Views, Controllers

unknown framework error
  HGGM.IntegrationTests/StartupTests.cs
Due: none

TagHandler, EventManager and cleanup
  HGGM/Controllers/EventsController.cs
  HGGM/Models/Events/IRequirement.cs
  HGGM/Models/Events/Slot.cs
  HGGM/Models/Events/SlotSignUp.cs
  HGGM/Models/Tag.cs
  HGGM/Services/Authorization/Tag/TagHandler.cs
  HGGM/Services/Authorization/Tag/TagRequirement.cs
  HGGM/Services/EventManager.cs
  HGGM/Startup.cs
Due: Controllers

User Edit View
  HGGM/Controllers/UsersController.cs
  HGGM/Resources/Views/Users/Edit.en.resx
  HGGM/ViewModels/EditUserViewModel.cs
  HGGM/Views/Users/Edit.cshtml
Due: Views, Controllers

Profile View
  HGGM/Areas/Identity/Pages/Account/ExternalLogin.cshtml.cs
  HGGM/Areas/Identity/Pages/Account/Manage/Profile.cshtml
  HGGM/Areas/Identity/Pages/Account/Manage/Profile.cshtml.cs
  HGGM/Resources/Areas/Identity/Pages/Account/Manage/Profile.en.resx
Due: none

Updated Details view
  HGGM/Resources/Views/Users/Details.en.resx
  HGGM/Views/Users/Details.cshtml
Due: Views

#62
  HGGM/Controllers/UsersController.cs
  HGGM/Models/Identity/User.cs
  HGGM/ViewModels/EditUserViewModel.cs
  HGGM/Views/Users/Details.cshtml
  HGGM/Views/Users/Edit.cshtml
Due: Views, Controllers

Codefactor
  HGGM/Controllers/UsersController.cs
Due: Controllers

Fix
  HGGM/Controllers/UsersController.cs
Due: Controllers

Removed unused script
  HGGM/Views/Users/Edit.cshtml
Due: Views

Add /Home/BecomeAdmin
  HGGM/Controllers/HomeController.cs
Due: Controllers

workaround
  HGGM/Startup.cs
Due: none

Added translation using Weblate (Czech)
  HGGM/Resources/Areas/Identity/Pages/Account/AccessDenied.cs.resx
Due: none

Added translation using Weblate (Czech)
  HGGM/Resources/Areas/Identity/Pages/Account/ExternalLogin.cs.resx
Due: none

Added translation using Weblate (Czech)
  HGGM/Resources/Areas/Identity/Pages/Account/Manage/DeletePersonalData.cs.resx
Due: none

Added translation using Weblate (Czech)
  HGGM/Resources/Areas/Identity/Pages/Account/Manage/Index.cs.resx
Due: none

Added translation using Weblate (Czech)
  HGGM/Resources/Areas/Identity/Pages/Account/Manage/PersonalData.cs.resx
Due: none

Added translation using Weblate (Czech)
  HGGM/Resources/Areas/Identity/Pages/Account/Manage/Profile.cs.resx
Due: none

Added translation using Weblate (Czech)
  HGGM/Resources/Areas/Identity/Pages/Account/Manage/_Layout.cs.resx
Due: none

Added translation using Weblate (Czech)
  HGGM/Resources/Areas/Identity/Pages/Account/Manage/_ManageNav.cs.resx
Due: none

Added translation using Weblate (Czech)
  HGGM/Resources/Views/Audit/Index.cs.resx
Due: none

Added translation using Weblate (Czech)
  HGGM/Resources/Views/Roles/Create.cs.resx
Due: none

Added translation using Weblate (Czech)
  HGGM/Resources/Views/Roles/Details.cs.resx
Due: none

Added translation using Weblate (Czech)
  HGGM/Resources/Views/Roles/Edit.cs.resx
Due: none

Added translation using Weblate (Czech)
  HGGM/Resources/Views/Roles/Index.cs.resx
Due: none

Added translation using Weblate (Czech)
  HGGM/Resources/Views/Tags/Create.cs.resx
Due: none

Added translation using Weblate (Czech)
  HGGM/Resources/Views/Tags/Delete.cs.resx
Due: none

Added translation using Weblate (Czech)
  HGGM/Resources/Views/Tags/Details.cs.resx
Due: none

Added translation using Weblate (Czech)
  HGGM/Resources/Views/Tags/Edit.cs.resx
Due: none

Added translation using Weblate (Czech)
  HGGM/Resources/Views/Tags/Index.cs.resx
Due: none

Added translation using Weblate (Czech)
  HGGM/Resources/Views/Users/Delete.cs.resx
Due: none

Added translation using Weblate (Czech)
  HGGM/Resources/Views/Users/Edit.cs.resx
Due: none

Added translation using Weblate (Czech)
  HGGM/Resources/Views/Users/Index.cs.resx
Due: none

Code
  HGGM/Services/Authorization/Tag/TagHandler.cs
  HGGM/Services/EventManager.cs
Due: none

1 method in event manager
  HGGM/Services/EventManager.cs
Due: none

New method in EventManager + Small change in notificationService
  HGGM/Services/EventManager.cs
  HGGM/Services/NotificationService.cs
Due: none

More methods for EventManager
  HGGM/Services/EventManager.cs
Due: none

Code Cleanup
  HGGM/Views/Users/Edit.cshtml
Due: Views

Review Comments
  HGGM/Areas/Identity/Pages/Account/ExternalLogin.cshtml.cs
  HGGM/Areas/Identity/Pages/Account/Manage/Profile.cshtml
  HGGM/Areas/Identity/Pages/Account/Manage/Profile.cshtml.cs
  HGGM/Models/Identity/User.cs
  HGGM/Resources/Areas/Identity/Pages/Account/Manage/Profile.en.resx
  HGGM/Resources/Views/Users/Edit.en.resx
  HGGM/Views/Users/Edit.cshtml
Due: Views

[ImgBot] Optimize images
  HGGM/wwwroot/images/avatar.png
Due: none

Path conditions:
  Views: any of: HGGM/Views/
  Controllers: any of: HGGM/Controllers/
