Repository easv-d16-JSLM/HGGM: changes, and which Codecov flags are due for each by the changed paths.
All: Views, Controllers

codecov.yml:

flags:
  Views:
    paths:
      - HGGM/Views/
  Controllers:
    paths:
      - HGGM/Controllers/

user model
  HGGM/Models/Identity/User.cs
Due: none

User registration
  HGGM/Areas/Identity/Pages/Account/Register.cshtml
  HGGM/Areas/Identity/Pages/Account/Register.cshtml.cs
Due: none

Applied Bulma
  HGGM/libman.json
  HGGM/wwwroot/lib/bulma/css/bulma.css
  HGGM/wwwroot/lib/bulma/css/bulma.css.map
  HGGM/wwwroot/lib/bulma/css/bulma.min.css
Due: none

Login with username instead of email
  HGGM/Areas/Identity/Pages/Account/Login.cshtml
  HGGM/Areas/Identity/Pages/Account/Login.cshtml.cs
Due: none

JOZEF FIXED IT. I'M SO HAPPY --Lasse
  HGGM.IntegrationTests/Areas/Identity/Pages/Account/Manage/RegisterTests.cs
  HGGM.IntegrationTests/HGGM.IntegrationTests.csproj
  HGGM.IntegrationTests/Helpers/HtmlHelpers.cs
  HGGM.IntegrationTests/Helpers/HttpClientExtensions.cs
  HGGM/Areas/Identity/Pages/Account/Register.cshtml
  HGGM/HGGM.csproj
Due: none

fix initializer
  HGGM/Services/LiteDbContext.cs
  HGGM/Services/LiteDbInitializer.cs
  HGGM/Startup.cs
Due: none

does not work
  HGGM/Services/LiteDbInitializer.cs
  HGGM/Startup.cs
  HGGM/appsettings.json
Due: none

keep AppData
  HGGM/AppData/.gitkeep
Due: none

remove initializiation for now
  HGGM.UnitTests/ProgramTests.cs
  HGGM/Services/LiteDbInitializer.cs
  HGGM/Startup.cs
Due: none

Better error messages for test
  HGGM.IntegrationTests/Areas/Identity/Pages/Account/RegisterTests.cs
Due: none

Move db from appdata to root
  HGGM/AppData/.gitkeep
  HGGM/appsettings.json
Due: none

csproj
  HGGM/HGGM.csproj
Due: none

ignore db
  .gitignore
Due: none

Add FontAwesome
  HGGM/Views/Shared/_Layout.cshtml
  HGGM/libman.json
Due: Views

Add Hangfire
  .gitignore
  HGGM/HGGM.csproj
  HGGM/Startup.cs
Due: none

Humanizer
  HGGM/HGGM.csproj
Due: none

AddSteam
  HGGM/HGGM.csproj
  HGGM/Startup.cs
Due: none

Navigation Bar
  HGGM/Views/Shared/_Layout.cshtml
  HGGM/Views/Shared/_LoginPartial.cshtml
Due: Views

Removed Bootstrap
  HGGM/wwwroot/css/site.css
  HGGM/wwwroot/css/site.min.css
Due: none

test task
  HGGM/Program.cs
  HGGM/Services/DbShrinker.cs
  HGGM/Startup.cs
Due: none

Fixed registration page (need re-design)
  HGGM/Areas/Identity/Pages/Account/Register.cshtml
Due: none

Fixed login / logout
  HGGM/Views/Shared/_LoginPartial.cshtml
Due: Views

asp-area fix
  HGGM/Startup.cs
Due: none

login page according to bulma (needs redesign)
  HGGM/Areas/Identity/Pages/Account/Login.cshtml
Due: none

Add hangfire permisson
  HGGM.IntegrationTests/StartupTests.cs
  HGGM/Controllers/HomeController.cs
  HGGM/Models/Identity/Role.cs
  HGGM/Services/Authorization/Permission.cs
  HGGM/Services/Authorization/PermissionAttribute.cs
  HGGM/Services/Authorization/PermissionDashboardAuthorizationFilter.cs
  HGGM/Services/Authorization/PermissionHandler.cs
  HGGM/Services/Authorization/PermissionPolicyProvider.cs
  HGGM/Services/Authorization/PermissionRequirement.cs
  HGGM/Services/DbShrinker.cs
  HGGM/Services/EmailSender.cs
  HGGM/Services/LiteDbContext.cs
  HGGM/Startup.cs
Due: Controllers

updated index (not complete)
  HGGM/Views/Home/Index.cshtml
Due: Views

fixed translation test
  HGGM/Views/Home/Index.cshtml
Due: Views

Auto pages + Roles controller for view and create
  HGGM/Controllers/RolesController.cs
  HGGM/Models/Identity/Role.cs
  HGGM/Views/Roles/Create.cshtml
  HGGM/Views/Roles/Index.cshtml
Due: Views, Controllers

UserWithRoles ViewModel
  HGGM/ViewModels/UserWithRolesViewModel.cs
Due: none

Generate UsersController & Index view
  HGGM/Controllers/UsersController.cs
  HGGM/ViewModels/UserWithRolesViewModel.cs
  HGGM/Views/Users/Index.cshtml
Due: Views, Controllers

fix not finding any users
  HGGM/Controllers/UsersController.cs
  HGGM/Program.cs
Due: Controllers

Role function + translation + view
  HGGM/Controllers/RolesController.cs
  HGGM/Resources/Views/Roles/Delete.en.resx
  HGGM/Startup.cs
  HGGM/Views/Roles/Delete.cshtml
  HGGM/Views/Roles/Index.cshtml
Due: Views, Controllers

User Overview index including translate
  HGGM/Controllers/UsersController.cs
  HGGM/Resources/Views/Users/Index.en.resx
  HGGM/Views/Users/Index.cshtml
Due: Views, Controllers

remove localization test
  HGGM.IntegrationTests/LocalizationTests.cs
  HGGM/Controllers/HomeController.cs
  HGGM/Views/Home/Index.cshtml
Due: Views, Controllers

Add sample en translation
  HGGM/Resources/Controllers/HomeController.en.resx
Due: none

remove a stray file
  HGGM/Resources/Views/Home/Index.cs.resx
Due: none

add empty cs file
  HGGM/Resources/Views/Roles/Delete.cs.resx
Due: none

Translated using Weblate (Czech)
  HGGM/Resources/Views/Roles/Delete.cs.resx
Due: none

User Model Change & Index view
  HGGM/ViewModels/UserWithRolesViewModel.cs
  HGGM/Views/Users/Index.cshtml
Due: Views
