Repository easv-d16-JSLM/HGGM: changes, and which Codecov flags are due for each by the changed paths.
All: Views, Controllers

Translated using Weblate (Czech)
  HGGM/Resources/Views/Tags/Details.cs.resx
Due: none

Translated using Weblate (Czech)
  HGGM/Resources/Views/Tags/Index.cs.resx
Due: none

Translated using Weblate (Czech)
  HGGM/Resources/Views/Users/Delete.cs.resx
Due: none

Translated using Weblate (Czech)
  HGGM/Resources/Views/Users/Index.cs.resx
Due: none

Translated using Weblate (Czech)
  HGGM/Resources/Views/Users/Edit.cs.resx
Due: none

Translated using Weblate (Czech)
  HGGM/Resources/Areas/Identity/Pages/Account/Manage/_ManageNav.cs.resx
Due: none

Translated using Weblate (Czech)
  HGGM/Resources/Areas/Identity/Pages/Account/Manage/DeletePersonalData.cs.resx
Due: none

Translated using Weblate (Czech)
  HGGM/Resources/Views/Tags/Edit.cs.resx
Due: none

Translated using Weblate (Czech)
  HGGM/Resources/Views/Audit/Index.cs.resx
Due: none

Added translation using Weblate (Czech)
  HGGM/Resources/Views/Users/Details.cs.resx
Due: none

Translated using Weblate (Czech)
  HGGM/Resources/Views/Users/Details.cs.resx
Due: none

Translation #2 (#67)
  HGGM/Resources/Areas/Identity/Pages/Account/AccessDenied.cs.resx
  HGGM/Resources/Areas/Identity/Pages/Account/ExternalLogin.cs.resx
  HGGM/Resources/Areas/Identity/Pages/Account/Manage/DeletePersonalData.cs.resx
  HGGM/Resources/Areas/Identity/Pages/Account/Manage/Index.cs.resx
  HGGM/Resources/Areas/Identity/Pages/Account/Manage/PersonalData.cs.resx
  HGGM/Resources/Areas/Identity/Pages/Account/Manage/Profile.cs.resx
  HGGM/Resources/Areas/Identity/Pages/Account/Manage/_Layout.cs.resx
  HGGM/Resources/Areas/Identity/Pages/Account/Manage/_ManageNav.cs.resx
  HGGM/Resources/Views/Audit/Index.cs.resx
  HGGM/Resources/Views/Roles/Create.cs.resx
  HGGM/Resources/Views/Roles/Delete.cs.resx
  HGGM/Resources/Views/Roles/Details.cs.resx
  HGGM/Resources/Views/Roles/Edit.cs.resx
  HGGM/Resources/Views/Roles/Index.cs.resx
  HGGM/Resources/Views/Tags/Create.cs.resx
  HGGM/Resources/Views/Tags/Delete.cs.resx
  HGGM/Resources/Views/Tags/Details.cs.resx
  HGGM/Resources/Views/Tags/Edit.cs.resx
  HGGM/Resources/Views/Tags/Index.cs.resx
  HGGM/Resources/Views/Users/Delete.cs.resx
  HGGM/Resources/Views/Users/Details.cs.resx
  HGGM/Resources/Views/Users/Edit.cs.resx
  HGGM/Resources/Views/Users/Index.cs.resx
Due: none

Create discourse service for payload deconstruction, verification, construction and signing
  HGGM.UnitTests/Services/Discourse/CryptoTests.cs
  HGGM.UnitTests/Services/Discourse/DiscourseServiceTests.cs
  HGGM/Services/Discourse/Crypto.cs
  HGGM/Services/Discourse/DiscourseService.cs
Due: none

Fix tests
  HGGM.UnitTests/Services/Discourse/CryptoTests.cs
  HGGM.UnitTests/Services/Discourse/DiscourseServiceTests.cs
  HGGM/Services/Discourse/Crypto.cs
  HGGM/Services/Discourse/DiscourseService.cs
Due: none

controller and configuration
  HGGM/Controllers/DiscourseController.cs
  HGGM/HGGM.csproj
  HGGM/Startup.cs
  HGGM/appsettings.json
Due: Controllers

fix endpoint name, and validation
  HGGM.UnitTests/Services/Discourse/DiscourseServiceTests.cs
  HGGM/Controllers/DiscourseController.cs
  HGGM/Services/Authorization/Simple/SimplePermissionPolicyProvider.cs
  HGGM/Services/Discourse/Crypto.cs
  HGGM/Services/Discourse/DiscourseService.cs
  HGGM/Startup.cs
Due: Controllers

add logging
  HGGM/Controllers/DiscourseController.cs
Due: Controllers

Move perms, add logging
  HGGM/Controllers/AuditController.cs
  HGGM/Controllers/DiscourseController.cs
  HGGM/Controllers/RolesController.cs
  HGGM/Controllers/TagsController.cs
  HGGM/Controllers/UsersController.cs
  HGGM/Services/Authorization/PermissionAttribute.cs
  HGGM/Services/Authorization/PermissionDashboardAuthorizationFilter.cs
  HGGM/Services/Authorization/Simple/SimplePermission.cs
  HGGM/Services/Authorization/Simple/SimplePermissionPolicyProvider.cs
  HGGM/Services/Authorization/Simple/SimplePermissionRequirement.cs
  HGGM/Services/Authorization/Simple/SimplePermissionType.cs
  HGGM/Services/Discourse/DiscourseService.cs
Due: Controllers

fix bool? discourse parameters
  HGGM.sln.DotSettings
  HGGM/Controllers/DiscourseController.cs
  HGGM/Services/CultureService.cs
  HGGM/Services/Discourse/DiscourseService.cs
Due: Controllers

use more compatibile code coverage tool
  HGGM.IntegrationTests/HGGM.IntegrationTests.csproj
  HGGM.UnitTests/HGGM.UnitTests.csproj
  appveyor.yml
Due: none

more sonarqube vars
  appveyor.yml
Due: none

Update appveyor.yml
  appveyor.yml
Due: none

print env and dotnet
  appveyor.yml
Due: none

escape :
  appveyor.yml
Due: none

add $Env:, git mainline
  GitVersion.yml
  appveyor.yml
Due: none

Add version to sonarqube
  appveyor.yml
Due: none

Update README.md
  README.md
Due: none

Audit Role actions
  HGGM/Controllers/RolesController.cs
  HGGM/Models/Audit/RoleCreateAudit.cs
  HGGM/Models/Audit/RoleDeleteAudit.cs
  HGGM/Models/Audit/RoleEditAudit.cs
Due: Controllers

Audit Models & Audit implementation (User & Profile)
  HGGM/Areas/Identity/Pages/Account/Manage/Index.cshtml.cs
  HGGM/Controllers/AuditController.cs
  HGGM/Controllers/UsersController.cs
  HGGM/Models/Audit/AdminEditUserAudit.cs
  HGGM/Models/Audit/UserActionAudit.cs
  HGGM/Models/Audit/UserProfileAudit.cs
Due: Controllers

Details Overview & Minor change in auditservice
  HGGM/Resources/Views/Users/Details.en.resx
  HGGM/Services/AuditService.cs
  HGGM/Views/Audit/Details.cshtml
  HGGM/Views/Users/Details.cshtml
Due: Views

fix testes
  HGGM.UnitTests/Services/Discourse/DiscourseServiceTests.cs
Due: none

Optimized Audit Role models
  HGGM/Controllers/RolesController.cs
  HGGM/Models/Audit/RoleAudit.cs
  HGGM/Models/Audit/RoleCreateAudit.cs
  HGGM/Models/Audit/RoleEditAudit.cs
Due: Controllers

User Account/Profile Audit
  HGGM/Areas/Identity/Pages/Account/Manage/DeletePersonalData.cshtml.cs
  HGGM/Areas/Identity/Pages/Account/Manage/Index.cshtml.cs
  HGGM/Areas/Identity/Pages/Account/Manage/Profile.cshtml.cs
  HGGM/Models/Audit/UserDeleteAudit.cs
Due: none

Tag Audit
  HGGM/Controllers/TagsController.cs
  HGGM/Models/Audit/TagAudit.cs
  HGGM/Models/Audit/TagEditAudit.cs
Due: Controllers

Minor fixes to output message & Refresh signin when admin edit user
  HGGM/Controllers/RolesController.cs
  HGGM/Controllers/TagsController.cs
  HGGM/Controllers/UsersController.cs
  HGGM/Models/Audit/AdminEditUserAudit.cs
  HGGM/Models/Audit/UserDeleteAudit.cs
  HGGM/Models/Audit/UserProfileAudit.cs
Due: Controllers

Path conditions:
  Views: any of: HGGM/Views/
  Controllers: any of: HGGM/Controllers/
