Repository easv-d16-JSLM/HGGM: changes, and which Codecov flags are due for each by the changed paths.
All: Views, Controllers

codecov.yml:

flags:
  Views:
    paths:
      - HGGM/Views/
  Controllers:
    paths:
      - HGGM/Controllers/

Admin delete user fix & Logging when register an account
  HGGM/Areas/Identity/Pages/Account/ExternalLogin.cshtml.cs
  HGGM/Controllers/UsersController.cs
  HGGM/Models/Audit/AdminEditUserAudit.cs
  HGGM/Models/Audit/UserDeleteAudit.cs
  HGGM/Models/Audit/UserRegisterAudit.cs
Due: Controllers

update
  HGGM.IntegrationTests/HGGM.IntegrationTests.csproj
  HGGM.UnitTests/HGGM.UnitTests.csproj
  HGGM/HGGM.csproj
Due: none

update docker
  Dockerfile
Due: none

Localization & more
  HGGM/Controllers/EventsController.cs
  HGGM/Resources/Services/EventManager.en.resx
  HGGM/Services/Authorization/Simple/SimplePermissionType.cs
  HGGM/Services/EmailSender.cs
  HGGM/Services/EventManager.cs
  HGGM/Startup.cs
Due: Controllers

difflib
  HGGM/DiffHelper.cs
  HGGM/HGGM.csproj
Due: none

Update appveyor.yml
  appveyor.yml
Due: none

move to helpers
  HGGM/Helpers/DiffHelper.cs
Due: none

Datatables & small change to site.css
  HGGM/Views/Shared/_Layout.cshtml
  HGGM/libman.json
  HGGM/wwwroot/css/site.css
Due: Views

Datatables applied to every table entry
  HGGM/Views/Audit/Index.cshtml
  HGGM/Views/Roles/Index.cshtml
  HGGM/Views/Tags/Index.cshtml
  HGGM/Views/Users/Details.cshtml
  HGGM/Views/Users/Index.cshtml
Due: Views

Show only default view
  HGGM/Views/Users/Details.cshtml
Due: Views

PR Review Changes
  HGGM/Areas/Identity/Pages/Account/Manage/DeletePersonalData.cshtml.cs
  HGGM/Areas/Identity/Pages/Account/Manage/Index.cshtml.cs
  HGGM/Areas/Identity/Pages/Account/Manage/Profile.cshtml.cs
  HGGM/Controllers/TagsController.cs
Due: Controllers

Display Name in audit of the user who logged in
  HGGM/Areas/Identity/Pages/Account/ExternalLogin.cshtml.cs
  HGGM/Models/Audit/Login.cs
Due: none

fixed #80
  HGGM/Views/Audit/Index.cshtml
Due: Views

update db lib version
  HGGM/Services/LiteDbContext.cs
  HGGM/Startup.cs
Due: none

eventModels with merge
  HGGM/Controllers/EventsController.cs
  HGGM/Models/Events/Slot.cs
  HGGM/Resources/Services/EventManager.en.resx
  HGGM/Services/Authorization/Simple/SimplePermissionType.cs
  HGGM/Services/EventManager.cs
  HGGM/Startup.cs
  HGGM/Views/Events/AdminView.cshtml
  HGGM/Views/Events/AuditLogIndex.cshtml
  HGGM/Views/Events/CreatedEvents.cshtml
  HGGM/Views/Events/PublishedIndex.cshtml
  HGGM/Views/Shared/_Layout.cshtml
Due: Views, Controllers

AdminView
  HGGM/Resources/Views/Events/AdminView.en.resx
  HGGM/Views/Events/AdminView.cshtml
  HGGM/Views/Events/Create.cshtml
Due: Views

#51
  HGGM/Areas/Identity/Pages/Account/Manage/DownloadPersonalData.cshtml.cs
Due: none

#88
  HGGM/Views/Users/Index.cshtml
Due: Views

Add test for markdown processing
  HGGM.IntegrationTests/TagHelpers/MarkdownTagHelperTests.cs
  HGGM.UnitTests/Services/MarkdownServiceTests.cs
  HGGM/TagHelpers/MarkdownTagHelper.cs
Due: none

#65
  HGGM/Views/Shared/_CookieConsentPartial.cshtml
  HGGM/Views/Shared/_Layout.cshtml
Due: Views

healthchecks
  Dockerfile
  HGGM/Startup.cs
Due: none

Add API analyzer
  HGGM/HGGM.csproj
Due: none

add health test
  HGGM.IntegrationTests/StartupTests.cs
Due: none

Controller changed + some views for events
  HGGM/Controllers/EventsController.cs
  HGGM/Resources/Views/Events/AdminView.en.resx
  HGGM/Views/Events/AdminView.cshtml
  HGGM/Views/Events/Create.cshtml
  HGGM/Views/Events/EventsSignedUpFor.cshtml
Due: Views, Controllers

CreatedEvents view
  HGGM/Views/Events/CreatedEvents.cshtml
  HGGM/Views/Events/Details.cshtml
  HGGM/Views/Events/Edit.cshtml
  HGGM/Views/Events/PublishedIndex.cshtml
Due: Views

action commands reorder & Translate to cookie
  HGGM/Resources/Views/Shared/_CookieConsentPartial.en.resx
  HGGM/Views/Shared/_CookieConsentPartial.cshtml
  HGGM/Views/Users/Index.cshtml
Due: Views

#81
  HGGM/Resources/Views/Users/Details.en.resx
  HGGM/Views/Users/Details.cshtml
Due: Views

Translations for some event views
  HGGM/Resources/Views/Events/CreatedEvents.en.resx
  HGGM/Resources/Views/Events/EventsSignedUpFor.en.resx
  HGGM/Resources/Views/Events/PublishedIndex.en.resx
  HGGM/Views/Events/CreatedEvents.cshtml
Due: Views

#47 - Redirects to index if timed-out
  HGGM/Areas/Identity/Pages/Account/ExternalLogin.cshtml.cs
Due: none

CSP
  HGGM/HGGM.csproj
  HGGM/Startup.cs
Due: none

Started even create
  HGGM/Views/Events/Create.cshtml
  HGGM/Views/Shared/_Layout.cshtml
  HGGM/libman.json
Due: Views

Further create event
  HGGM/Models/Events/Event.cs
  HGGM/Views/Events/Create.cshtml
Due: Views

remove CSP
  HGGM/Startup.cs
Due: none

Create event simple
  HGGM/Controllers/EventsController.cs
  HGGM/Views/Events/Create.cshtml
Due: Views, Controllers
