Repository easv-d16-JSLM/HGGM: changes, and which Codecov flags are due for each by the changed paths.
All: Views, Controllers

codecov.yml:

flags:
  Views:
    paths:
      - HGGM/Views/
  Controllers:
    paths:
      - HGGM/Controllers/

finish functionality
  HGGM/Controllers/AuditController.cs
  HGGM/Models/Audit/AuditEntryBase.cs
  HGGM/Services/AuditService.cs
  HGGM/Views/Audit/Index.cshtml
Due: Views, Controllers

add translation
  HGGM/Resources/Views/Audit/Index.en.resx
  HGGM/Views/Audit/Index.cshtml
Due: Views

add file log, link, beter debug info
  HGGM/HGGM.csproj
  HGGM/Program.cs
  HGGM/Views/Shared/_Layout.cshtml
Due: Views

Some more html
  HGGM/Views/Roles/Index.cshtml
  HGGM/Views/Tags/Delete.cshtml
  HGGM/Views/Tags/Index.cshtml
Due: Views

Profile translation & bulma
  HGGM/Areas/Identity/Pages/Account/Manage/Profile.cshtml
  HGGM/Resources/Areas/Identity/Pages/Account/Manage/Profile.en.resx
Due: none

Last of the HTML for roles and tags + some translations
  HGGM/Resources/Views/Roles/Create.en.resx
  HGGM/Resources/Views/Roles/Details.en.resx
  HGGM/Resources/Views/Roles/Edit.en.resx
  HGGM/Resources/Views/Roles/Index.en.resx
  HGGM/Views/Roles/Create.cshtml
  HGGM/Views/Roles/Delete.cshtml
  HGGM/Views/Roles/Details.cshtml
  HGGM/Views/Roles/Edit.cshtml
  HGGM/Views/Roles/Index.cshtml
  HGGM/Views/Tags/Delete.cshtml
  HGGM/Views/Tags/Details.cshtml
Due: Views

Profile Avatar & Small fixes
  HGGM/Areas/Identity/Pages/Account/Manage/Profile.cshtml
  HGGM/Areas/Identity/Pages/Account/Manage/Profile.cshtml.cs
  HGGM/Areas/Identity/Pages/_ValidationScriptsPartial.cshtml
  HGGM/Controllers/FilesController.cs
  HGGM/Models/Identity/User.cs
Due: Controllers

CodeFactor Fix
  HGGM/Areas/Identity/Pages/Account/Manage/Index.cshtml.cs
  HGGM/Models/Identity/User.cs
Due: none

fix test
  HGGM.UnitTests/Services/AuditServiceTests.cs
Due: none

Remove DB shrinker
  HGGM/Services/DbShrinker.cs
Due: none

Active item navbar & bug fixes
  HGGM/Areas/Identity/Pages/Account/Manage/ExternalLogins.cshtml
  HGGM/Areas/Identity/Pages/Account/Manage/ManageNavPages.cs
  HGGM/Areas/Identity/Pages/Account/Manage/Profile.cshtml
  HGGM/Areas/Identity/Pages/Account/Manage/TwoFactorAuthentication.cshtml
  HGGM/Areas/Identity/Pages/Account/Manage/_Layout.cshtml
  HGGM/Areas/Identity/Pages/Account/Manage/_ManageNav.cshtml
  HGGM/Resources/Areas/Identity/Pages/Account/Manage/Index.en.resx
  HGGM/Resources/Areas/Identity/Pages/Account/Manage/Profile.en.resx
Due: none

code cleanup
  HGGM/Controllers/AuditController.cs
  HGGM/Models/Audit/AuditEntryBase.cs
  HGGM/Models/Audit/Login.cs
  HGGM/Models/Configuration/NavLink.cs
  HGGM/Models/Events/Event.cs
  HGGM/Models/Events/Slot.cs
  HGGM/Models/Events/SlotSignUp.cs
  HGGM/Models/Identity/IPermission.cs
  HGGM/Models/Identity/Role.cs
  HGGM/Models/Identity/User.cs
  HGGM/Properties/launchSettings.json
  HGGM/Services/AuditService.cs
  HGGM/Services/Authorization/EditUser/EditUserPermission.cs
  HGGM/Services/Authorization/EditUser/EditUserRequirement.cs
  HGGM/Services/Authorization/PermissionAttribute.cs
  HGGM/Services/Authorization/PermissionDashboardAuthorizationFilter.cs
  HGGM/Services/Authorization/Simple/SimplePermission.cs
  HGGM/Services/GetRolesExtensions.cs
  HGGM/Services/LiteDbContext.cs
  HGGM/Services/MarkdownService.cs
  HGGM/Startup.cs
Due: Controllers

Update HGGM/Controllers/FilesController.cs
  HGGM/Controllers/FilesController.cs
Due: Controllers

Ordinal string comparison
  HGGM/Startup.cs
Due: none

Codefactor issue
  HGGM/Models/Identity/User.cs
Due: none

Role edit simplepermissions
  HGGM/Controllers/RolesController.cs
  HGGM/Services/Authorization/Simple/SimplePermission.cs
  HGGM/ViewModels/EditRoleViewModel.cs
  HGGM/Views/Roles/Edit.cshtml
Due: Views, Controllers

Add roleeditaudit
  HGGM/Controllers/RolesController.cs
  HGGM/Models/Audit/RoleEditAudit.cs
Due: Controllers

Audit details
  HGGM/Controllers/AuditController.cs
  HGGM/Services/AuditService.cs
  HGGM/ViewModels/AuditDetailsViewModel.cs
  HGGM/Views/Audit/Details.cshtml
  HGGM/Views/Audit/Index.cshtml
Due: Views, Controllers

Event simple crud - missing views
  HGGM/Controllers/EventsController.cs
  HGGM/Views/Events/Create.cshtml
  HGGM/Views/Events/Delete.cshtml
Due: Views, Controllers

EmailSender, notificationService
  HGGM/Models/Configuration/MailConfig.cs
  HGGM/Models/Notification.cs
  HGGM/Services/EmailSender.cs
  HGGM/Services/NotificationService.cs
  HGGM/Startup.cs
  HGGM/appsettings.json
Due: none

auto generated views
  HGGM/Views/Events/Details.cshtml
  HGGM/Views/Events/Edit.cshtml
  HGGM/Views/Events/Index.cshtml
Due: Views

Some html
  HGGM/Views/Events/Create.cshtml
  HGGM/Views/Events/Index.cshtml
Due: Views

Cleaned up code and fixed review comments
  HGGM/Models/Configuration/MailConfig.cs
  HGGM/Models/Identity/User.cs
  HGGM/Models/Notification.cs
  HGGM/Models/NotificationConfig.cs
  HGGM/Services/EmailSender.cs
  HGGM/Services/NotificationService.cs
  HGGM/Startup.cs
  HGGM/Views/Shared/_LoginPartial.cshtml
  HGGM/Views/Shared/_Notification.cshtml
  HGGM/appsettings.json
Due: Views

Translation
  HGGM/HGGM.csproj
  HGGM/Resources/Views/Roles/Edit.en.resx
  HGGM/Views/Roles/Edit.cshtml
Due: Views

change logging
  HGGM/Program.cs
Due: none

Add authorization attributes
  HGGM.sln.DotSettings
  HGGM/Controllers/AuditController.cs
  HGGM/Controllers/RolesController.cs
  HGGM/Controllers/TagsController.cs
  HGGM/Controllers/UsersController.cs
  HGGM/Services/Authorization/PermissionAttribute.cs
  HGGM/Services/Authorization/Simple/SimplePermission.cs
  HGGM/Services/Authorization/Simple/SimplePermissionType.cs
Due: Controllers

Revert "Add authorization attributes"
  HGGM.sln.DotSettings
  HGGM/Controllers/AuditController.cs
  HGGM/Controllers/RolesController.cs
  HGGM/Controllers/TagsController.cs
  HGGM/Controllers/UsersController.cs
  HGGM/Services/Authorization/PermissionAttribute.cs
  HGGM/Services/Authorization/Simple/SimplePermission.cs
  HGGM/Services/Authorization/Simple/SimplePermissionType.cs
Due: Controllers

Use External login as default login
  HGGM/Areas/Identity/Pages/Account/ExternalLogin.cshtml.cs
  HGGM/Areas/Identity/Pages/Account/Login.cshtml
  HGGM/Areas/Identity/Pages/Account/Login.cshtml.cs
  HGGM/Areas/Identity/Pages/Account/Register.cshtml
  HGGM/Areas/Identity/Pages/Account/Register.cshtml.cs
  HGGM/Startup.cs
Due: none

improve access denied
  HGGM/Areas/Identity/Pages/Account/AccessDenied.cshtml
  HGGM/Resources/Areas/Identity/Pages/Account/AccessDenied.en.resx
Due: none

update tests
  HGGM.IntegrationTests/Areas/Identity/Pages/Account/RegisterTests.cs
  HGGM.IntegrationTests/Controllers/RolesControllerTests.cs
  HGGM.IntegrationTests/HGGM.IntegrationTests.csproj
  HGGM.IntegrationTests/Helpers/HttpClientExtensions.cs
  HGGM.IntegrationTests/StartupTests.cs
  HGGM/HGGM.csproj
Due: none

Display & Save Registration Date
  HGGM/Areas/Identity/Pages/Account/ExternalLogin.cshtml.cs
  HGGM/Models/Identity/User.cs
  HGGM/Resources/Views/Users/Index.en.resx
  HGGM/Views/Users/Index.cshtml
Due: Views

Avatar fix & new placeholder
  HGGM/Areas/Identity/Pages/Account/Manage/Profile.cshtml
  HGGM/Controllers/FilesController.cs
  HGGM/wwwroot/images/avatar.png
Due: Controllers

Index View Updated
  HGGM/Resources/Views/Users/Index.en.resx
  HGGM/Views/Users/Index.cshtml
Due: Views

FontAwesome 5.5
  HGGM/HGGM.csproj
  HGGM/Views/Shared/_Layout.cshtml
Due: Views

User Edit View
  HGGM/Areas/Identity/Pages/Account/ExternalLogin.cshtml.cs
  HGGM/Controllers/UsersController.cs
  HGGM/Models/Identity/User.cs
  HGGM/Resources/Views/Users/Edit.en.resx
  HGGM/ViewModels/EditUserViewModel.cs
  HGGM/Views/Users/Edit.cshtml
Due: Views, Controllers

Edit View fix
  HGGM/Controllers/UsersController.cs
  HGGM/Views/Users/Edit.cshtml
Due: Views, Controllers

Details View
  HGGM/Resources/Views/Users/Details.en.resx
  HGGM/Views/Users/Details.cshtml
Due: Views

Profile & Account view fix
  HGGM/Areas/Identity/Pages/Account/Manage/Index.cshtml
  HGGM/Areas/Identity/Pages/Account/Manage/Profile.cshtml
Due: none

Font Awesome 5.4.1
  HGGM/HGGM.csproj
  HGGM/Views/Shared/_Layout.cshtml
  HGGM/libman.json
Due: Views
