Repository easv-d16-JSLM/HGGM: changes, and which Codecov flags are due for each by the changed paths.
All: Views, Controllers

codecov.yml:

flags:
  Views:
    paths:
      - HGGM/Views/
  Controllers:
    paths:
      - HGGM/Controllers/

CodeFactor Fail
  HGGM/Areas/Identity/Pages/Account/ExternalLogin.cshtml.cs
Due: none

better layou, addl inks
  HGGM/Views/Shared/_Layout.cshtml
  HGGM/wwwroot/js/site.js
Due: Views

Translateable
  HGGM/Areas/Identity/Pages/Account/ExternalLogin.cshtml
  HGGM/Resources/Areas/Identity/Pages/Account/ExternalLogin.en.resx
Due: none

Fixed translations, applied bulma & vaildation text color
  HGGM/Areas/Identity/Pages/Account/ExternalLogin.cshtml
  HGGM/Resources/Areas/Identity/Pages/Account/ExternalLogin.en.resx
Due: none

Add links, and an example link
  HGGM/Models/Configuration/NavLink.cs
  HGGM/Views/Shared/_Layout.cshtml
  HGGM/appsettings.Development.json
Due: Views

translate and image
  HGGM/Areas/Identity/Pages/Account/ExternalLogin.cshtml
  HGGM/Resources/Areas/Identity/Pages/Account/ExternalLogin.en.resx
  HGGM/Views/Shared/_LoginPartial.cshtml
  HGGM/wwwroot/images/steamlogin.png
Due: Views

Merge translation, add taghelper to Identity viewimports
  HGGM/Areas/Identity/Pages/Account/ExternalLogin.cshtml
  HGGM/Areas/Identity/Pages/_ViewImports.cshtml
  HGGM/Resources/Areas/Identity/Pages/Account/ExternalLogin.en.resx
Due: none

navbar change
  HGGM/Views/Shared/_Layout.cshtml
  HGGM/Views/Shared/_LoginPartial.cshtml
Due: Views

remove hangfire task
  HGGM/Startup.cs
Due: none

Make all identity pages openable
  HGGM/Areas/Identity/Pages/Account/ConfirmEmail.cshtml.cs
  HGGM/Areas/Identity/Pages/Account/ForgotPassword.cshtml.cs
  HGGM/Areas/Identity/Pages/Account/LoginWith2fa.cshtml.cs
  HGGM/Areas/Identity/Pages/Account/LoginWithRecoveryCode.cshtml.cs
  HGGM/Areas/Identity/Pages/Account/Manage/ChangePassword.cshtml.cs
  HGGM/Areas/Identity/Pages/Account/Manage/DeletePersonalData.cshtml.cs
  HGGM/Areas/Identity/Pages/Account/Manage/Disable2fa.cshtml.cs
  HGGM/Areas/Identity/Pages/Account/Manage/DownloadPersonalData.cshtml.cs
  HGGM/Areas/Identity/Pages/Account/Manage/EnableAuthenticator.cshtml.cs
  HGGM/Areas/Identity/Pages/Account/Manage/ExternalLogins.cshtml.cs
  HGGM/Areas/Identity/Pages/Account/Manage/GenerateRecoveryCodes.cshtml.cs
  HGGM/Areas/Identity/Pages/Account/Manage/Index.cshtml.cs
  HGGM/Areas/Identity/Pages/Account/Manage/PersonalData.cshtml.cs
  HGGM/Areas/Identity/Pages/Account/Manage/ResetAuthenticator.cshtml.cs
  HGGM/Areas/Identity/Pages/Account/Manage/SetPassword.cshtml.cs
  HGGM/Areas/Identity/Pages/Account/Manage/TwoFactorAuthentication.cshtml.cs
  HGGM/Areas/Identity/Pages/Account/Manage/_Layout.cshtml
  HGGM/Areas/Identity/Pages/Account/Manage/_ManageNav.cshtml
  HGGM/Areas/Identity/Pages/Account/Manage/_ViewStart.cshtml
  HGGM/Areas/Identity/Pages/Account/ResetPassword.cshtml.cs
  HGGM/Views/Shared/_LoginPartial.cshtml
Due: Views

Changed from ObjectId to GUID + Delete tags controller
  HGGM/Controllers/TagsController.cs
  HGGM/Models/Identity/User.cs
  HGGM/Models/Tag.cs
  HGGM/Views/Tags/Delete.cshtml
  HGGM/Views/Tags/Index.cshtml
Due: Views, Controllers

Fixed #45
  HGGM/Areas/Identity/Pages/Account/ExternalLogin.cshtml
  HGGM/Areas/Identity/Pages/Account/ExternalLogin.cshtml.cs
Due: none

Tags controller done - Only need translations
  HGGM/Controllers/TagsController.cs
  HGGM/Views/Shared/_Layout.cshtml
  HGGM/Views/Tags/Details.cshtml
  HGGM/Views/Tags/Edit.cshtml
Due: Views, Controllers

Partial
  HGGM/Areas/Identity/Pages/Account/Manage/Index.cshtml
Due: none

Index overview & vertical navbar
  HGGM/Areas/Identity/Pages/Account/Manage/_Layout.cshtml
  HGGM/Areas/Identity/Pages/Account/Manage/_ManageNav.cshtml
Due: none

Personal profile with bulma
  HGGM/Areas/Identity/Pages/Account/Manage/Index.cshtml
Due: none

Translation and html for tags done
  HGGM/Resources/Views/Tags/Create.en.resx
  HGGM/Resources/Views/Tags/Delete.en.resx
  HGGM/Resources/Views/Tags/Details.en.resx
  HGGM/Resources/Views/Tags/Edit.en.resx
  HGGM/Resources/Views/Tags/Index.en.resx
  HGGM/Views/Roles/Delete.cshtml
  HGGM/Views/Roles/Edit.cshtml
  HGGM/Views/Tags/Create.cshtml
  HGGM/Views/Tags/Delete.cshtml
  HGGM/Views/Tags/Details.cshtml
  HGGM/Views/Tags/Edit.cshtml
  HGGM/Views/Tags/Index.cshtml
Due: Views

Notification when change email with bulma
  HGGM/Areas/Identity/Pages/Account/Manage/_StatusMessage.cshtml
Due: none

Profile Translate
  HGGM/Areas/Identity/Pages/Account/Manage/Index.cshtml
  HGGM/Resources/Areas/Identity/Pages/Account/Manage/Index.en.resx
Due: none

Resolve comments from mr. J
  HGGM/Models/Identity/User.cs
  HGGM/Resources/Views/Tags/Create.en.resx
  HGGM/Resources/Views/Tags/Delete.en.resx
  HGGM/Resources/Views/Tags/Details.en.resx
  HGGM/Resources/Views/Tags/Edit.en.resx
  HGGM/Resources/Views/Tags/Index.en.resx
  HGGM/Views/Roles/Delete.cshtml
  HGGM/Views/Roles/Details.cshtml
  HGGM/Views/Roles/Index.cshtml
  HGGM/Views/Tags/Create.cshtml
  HGGM/Views/Tags/Delete.cshtml
  HGGM/Views/Tags/Details.cshtml
  HGGM/Views/Tags/Edit.cshtml
  HGGM/Views/Tags/Index.cshtml
Due: Views

Vertical Navbar translate
  HGGM/Areas/Identity/Pages/Account/Manage/_ManageNav.cshtml
  HGGM/Resources/Areas/Identity/Pages/Account/Manage/_ManageNav.en.resx
Due: none

_Layout Translate
  HGGM/Areas/Identity/Pages/Account/Manage/_Layout.cshtml
  HGGM/Resources/Areas/Identity/Pages/Account/Manage/_Layout.en.resx
Due: none

Personal Data Bulma & Translate
  HGGM/Areas/Identity/Pages/Account/Manage/PersonalData.cshtml
  HGGM/Resources/Areas/Identity/Pages/Account/Manage/PersonalData.en.resx
Due: none

Delete Personal Data Bulma & Translate
  HGGM/Areas/Identity/Pages/Account/Manage/DeletePersonalData.cshtml
  HGGM/Resources/Areas/Identity/Pages/Account/Manage/DeletePersonalData.en.resx
Due: none

Notification models, email sender, notification service
  HGGM/HGGM.csproj
  HGGM/Models/Identity/User.cs
  HGGM/Models/Notification.cs
  HGGM/Models/NotificationConfig.cs
  HGGM/Services/EmailSender.cs
  HGGM/Services/NotificationService.cs
  HGGM/Views/Shared/_LoginPartial.cshtml
  HGGM/Views/Shared/_Notification.cshtml
Due: Views

Split one class per file
  HGGM/Models/Events/ApprovalType.cs
  HGGM/Models/Events/Event.cs
  HGGM/Models/Events/IRequirement.cs
  HGGM/Models/Events/Slot.cs
  HGGM/Models/Events/SlotSignUp.cs
Due: none

Added html for tag index
  HGGM/Views/Tags/Index.cshtml
Due: Views

User Account contain date of birth & teamspeak fields
  HGGM/Areas/Identity/Pages/Account/Manage/Index.cshtml
  HGGM/Areas/Identity/Pages/Account/Manage/Index.cshtml.cs
  HGGM/Resources/Areas/Identity/Pages/Account/Manage/Index.en.resx
Due: none

small fix to account navbar
  HGGM/Areas/Identity/Pages/Account/Manage/_ManageNav.cshtml
Due: none

HTML for edit tag
  HGGM/Resources/Views/Tags/Edit.en.resx
  HGGM/Views/Tags/Edit.cshtml
Due: Views

TagDetails html
  HGGM/Resources/Views/Tags/Details.en.resx
  HGGM/Views/Tags/Details.cshtml
Due: Views

some change to tagdeletehtml
  HGGM/Views/Tags/Delete.cshtml
Due: Views

Profile view & user properties
  HGGM/Areas/Identity/Pages/Account/Manage/Profile.cshtml
  HGGM/Areas/Identity/Pages/Account/Manage/Profile.cshtml.cs
  HGGM/Models/Identity/User.cs
Due: none

Successfully store email & personaldata in user model
  HGGM/Areas/Identity/Pages/Account/ExternalLogin.cshtml
  HGGM/Models/Identity/User.cs
Due: none

Create role html
  HGGM/Views/Roles/Create.cshtml
  HGGM/Views/Roles/Index.cshtml
  HGGM/Views/Tags/Create.cshtml
Due: Views

add test and fix it
  HGGM.IntegrationTests/HGGM.IntegrationTests.csproj
  HGGM.UnitTests/HGGM.UnitTests.csproj
  HGGM.UnitTests/Models/Events/EventTests.cs
  HGGM.sln.DotSettings
  HGGM/HGGM.csproj
  HGGM/Models/Events/Event.cs
  HGGM/Models/Events/Slot.cs
  HGGM/Models/Events/SlotSignUp.cs
Due: none

Routing to profile
  HGGM/Areas/Identity/Pages/Account/Manage/_ManageNav.cshtml
  HGGM/Views/Shared/_LoginPartial.cshtml
Due: Views

Semi working
  HGGM.UnitTests/Services/AuditServiceTests.cs
  HGGM/Areas/Identity/Pages/Account/ExternalLogin.cshtml.cs
  HGGM/Controllers/AuditController.cs
  HGGM/Models/Audit/AuditEntryBase.cs
  HGGM/Models/Audit/Login.cs
  HGGM/Program.cs
  HGGM/Services/AuditService.cs
  HGGM/Services/LiteDbContext.cs
  HGGM/Startup.cs
  HGGM/Views/Audit/Index.cshtml
  HGGM/appsettings.json
Due: Views, Controllers

Successfully save Teamspeak data
  HGGM/Areas/Identity/Pages/Account/Manage/Index.cshtml
  HGGM/Areas/Identity/Pages/Account/Manage/Index.cshtml.cs
Due: none

User Profile
  HGGM/Areas/Identity/Pages/Account/Manage/Profile.cshtml
  HGGM/Areas/Identity/Pages/Account/Manage/Profile.cshtml.cs
Due: none
